.container {
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: pink;

}


* {
	box-sizing: border-box;
}
#topicInput{
		width: 300px;
}


.btn {
	margin-top: 20px;
	margin: 10px;
	opacity: .8;
	color: green;
	background-color: yellow;
	border-color: purple;
}

header {
	color: brown;
	margin-bottom: auto;
	padding-bottom: 20px;
	padding-top: 25px;

	text-align: center;
	opacity: .6;
	margin: 0 auto;

	background: url(../images/musical.jpg) center center fixed;
}


label {
	color: purple;
	background-color:burlywood;
	font-size: 15px;

	margin-left: 200px;
	margin-top: 40px;
	
}
#addGif{
	background-color: green;
	color: black;
	margin-left:540px;
	
}
#removeGif{
	background-color: red;
	color: white;


}

p {
	color: purple;
	font-size: 16px;
}
.image{
	width: 200px;
	height: 200px;
}

#play {
	display: none;
}

div1 {
	display: inline-block;

	margin: 20px;
}
.group{
	background:url(../images/flower.jpg); 
	height: 300px;
}